@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@media screen and (min-width:370px) and (max-width: 500px) {
      
body{
    height:100vh;
    width:100vw;
    background-color:hsl(257, 40%, 49%);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    
}

main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cabecalho{
    display: flex;
    padding-left: 3rem;
    padding-bottom: 60px;
    margin-top: 30px;  

}
.logo{
    width: 7.5rem;      
}

.imagem{
    width: 18.7rem;
    margin-top: 0.3rem;   
}

.text{
    gap: 2rem;
}

.title{
    margin: 0 1rem 0 1rem;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    padding-top: 4rem ; 
    padding-bottom: 1rem;   
}

.description{
    margin: 0 1rem 0 1rem;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
}

.register{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1.5rem;
}

button{
    width: 14rem;
    height: 2.5rem;
    font-family: 'Poppins';
    color: hsl(257, 40%, 49%);
    border-radius: 2rem;
    border: none;
}

button:hover{
    background-color: hsl(300, 69%, 71%);
}

.icon{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    color: white;
}

.instagram{
    
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    padding-left: 0.5rem ;
    border: 1px solid white;
    border-radius: 50%;
}

.facebook{
    margin-right: 2rem ;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    padding-left: 0.6rem;
    border: 1px solid white;
    border-radius: 50%;
}

.twitter{
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    padding-left: 0.5rem ;
    border: 1px solid white;
    border-radius: 50%;
}

}

@media screen and (min-width:501px) and (max-width: 2000px){
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size:cover;   
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;        
}

.cabecalho{
    display: flex;
    margin-top: 3rem;
    margin-left: 5.4rem;
}

.logo{
    width: 10rem;
}

.imagem{
    width: 650px;
    margin-top: 105px;
    margin-left: 30px;
}

.text{
    margin-left: px;
    margin-top: 26px;
}

.title{
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    
}

.description{
    color: white;
    font-family: 'Poppins';
    margin-top: 20px;
}

.register{
    padding-top: 25px;
    display: flex
    
}

button{
    width: 12rem;
    height: 2.5rem;
    font-family: 'Poppins';
    font-size: 16px;
    color: hsl(257, 40%, 49%);
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}


}
